<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Aplikasi Invoice</title>
</head>
<body>

<h1>Aplikasi Invoice</h1>

<!-- kita bisa tampilkan username yang sedang login -->
<h2>Selamat datang, <span sec:authentication="name"></span>username</h2>

<!-- misal menu ini akan ditampilkan berdasarkan Permission dari User yang sedang login-->
<ul>
    <li sec:authorize="hasAuthority('VIEW_TRANSAKSI')">Lihat Transaksi</li>
    <li sec:authorize="hasAuthority('EDIT_TRANSAKSI')">Edit Transaksi</li>
</ul>

Daftar permission :
<ul>
    <li th:each="perm : ${#authentication.authorities}" th:text="${perm}">Permission</li>
</ul>

<!-- logout sekarang menggunakan method POST, -->
<!--karena jangan sampe kita buka website lain, ternyata dia akan melogout kita di aplikasi yang berbeda -->
<!--dan spring security semua request POST harus membawa csrf token-->

<form method="post" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>

</body>
</html>